@charset "utf-8";

@import "_variables.scss";
@import "typography.scss";
@import "reset.scss";


@mixin display-flex(){
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

html{
    //now 1 rem is 1px
    font-size: 6.25%;
}

body{
    font-family: $ff-paragraph;
    font-size: 18rem;
    overflow-x: hidden;
    background-color: map-get($colors, background2 );
}


.whole-wrapper{
    background-color: map-get($colors, background1 );
    width: 100%;

    @media screen and (min-width: $breakpoint-large) {
        width: 80%;
        max-width: 1300rem;
        margin: 0 auto;
    }
}

header{
    font-family: $ff-heading2;
    @include display-flex();
    justify-content: space-between;
    padding: $size-default*2 $size-default;
    nav{
        @include display-flex();
        gap: $size-default;

        a:hover{
            text-decoration: underline;
        }
    }

    @media screen and (min-width: $breakpoint-large) {
        padding: $size-default*2 $big-padding-lr;
        margin: 0 0 64rem 0;
    }
    
}

.main, section, footer{
    padding: $size-default;

    @media screen and (min-width: $breakpoint-large) {
        padding: 0 $big-padding-lr;
    }
}

section{
    margin: 0 0 128rem 0;
}

.main{
    position:relative;
    .img-main{
        @include display-flex();
        justify-content: flex-end;
        img{
            width: 100%;
            height: 100%;
            max-width: 300rem;
            object-fit: contain;
        }
    }
    .txt-main{
        margin: $size-default*2 0;
        p{
            font-family: $ff-paragraph;
            margin: $size-default*2 0;
        }

        @media screen and (min-width: $breakpoint-large) {
            position: absolute;
            top:10%;
            left:$big-padding-lr;
            width: 35%;
            
        }
    }
}

.my-works{
    article{
        margin: 0 0 64rem 0;

        @media screen and (min-width: $breakpoint-large) {
            @include display-flex();
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    .txt-wrapper{
        @media  screen and (min-width: $breakpoint-large) {
            max-width: 50%; 
        }
    }
    .img-wrapper{
        @include display-flex();
        justify-content: center;
        margin: 0 0 32rem 0 ;

        @media  screen and (min-width: $breakpoint-large){
            max-width: 30%;
        }

    }
    .txt-wide{
        font-size: 12rem;
        letter-spacing: 3rem;
    }

    h2{
        margin: 8rem 0 32rem 0;
    }

    .list-skills{
        @include display-flex();
        gap: 8rem;
        flex-wrap: wrap;
        margin: 0 0 32rem 0;
        li{
            padding: 6rem 10rem;
            background-color: map-get($colors, highlight1 );
        }
    }
    p{
        margin: 0 0 32rem 0;
    }
    .btn{
        margin: 0 0 64rem 0 ;
    }
}
.skills{
    h2{
        margin: 8rem 0 48rem 0;
    }
    h3{
        margin: 0 0 16rem 0;
    }
    .list-desc{
        width: 95%;
        position: relative;
        left:18rem;
        font-family: $ff-paragraph;
        margin: 0 0 32rem 0;

        li::before{
            position: absolute;
            left: -18rem;
            content:"";
            width: 5rem;
            height: 5rem;
            background-color: map-get($colors, highlight2 );
            transform: translateY(10rem) rotate(45deg);
        }
    }
    article{
        margin: 0 0 48rem 0;
    }
    .list-programs{
        @include display-flex();
        gap: 16rem;
        align-items: center;
        flex-wrap: wrap;
        li{
            @include display-flex();
            align-items: center;
            gap: 8rem;
            margin: 0 0 16rem 0;
        }
        img{
            width: 36rem;
        }
    }
    @media screen and (min-width: $breakpoint-large) {
        @include display-flex();
        justify-content: space-between;

        .skill-desc{
            position: relative;
            top: 24rem;
            width: 45%;
        }
    }


}
footer{
    background-color: map-get($colors, background3 );
    color: map-get($colors, text2);
    font-weight: lighter;
    padding: 48rem 16rem;
    margin: 32rem 0 0 0;
    h2{
        margin: 0 0 32rem 0;
    }
    address{
        margin: 0 0 32rem 0;
    }

    @media screen and (min-width: $breakpoint-large) {
        padding: 48rem $big-padding-lr;
        .footer-content{
            @include display-flex();
            justify-content: space-between;
            margin: 0 0 32rem 0;
        }
        address{
            width: 45%;
        }
    }
}

//텍스트 디자인
a{
    cursor: pointer;
}

h2{
    font-family: $ff-heading2;
    font-size: $size-default*2;
    word-break: keep-all;
    line-height: $size-default*2 + 10rem;
}
p, li, address{
    font-family: $ff-paragraph;
    font-size: $size-default;
    line-height: $size-default + 10rem;
}

h3{
    font-family: $ff-heading3;
    font-size: 24rem;
}
h1,h2,h3, span,a, p, li{
    &::selection{
        background-color: map-get($colors, highlight2 );
    }
}

//버튼 디자인
button, .btn{
    padding: 12rem 12rem;
    border: 1rem solid black;
    background-color: transparent;
    cursor: pointer;
    font-family: $ff-paragraph;

    &:hover{
        background-color: map-get($colors, highlight1 );
    }
}
.btn{
    font-size: 16rem;
    &::selection{
        background-color: map-get($colors, highlight2 );
    }
}

//유틸리티
.img-wrapper{
    img{
        width: 100%;
        height: 100%;
        max-width: 500rem;
        object-fit: contain;
    }
}

//하이라이트
.highlight-container, .highlight {
    position: relative;
  }
  
  .highlight-container {
    display: inline-block;
  }
  .highlight-container:before {
    content: " ";
    display: block;
    height: 18%;
    width: 90%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: map-get($colors, highlight2);
    opacity: 0.5;
    transform: rotate(2deg);
    bottom: -1rem;
    left: -1rem;
    border-radius: 20% 25% 20% 24%;
    padding: 10rem 3rem 3rem 10rem;
  }
  
//스크롤 시 그림 나타나게 하기
  .my-works{
    img{
        opacity: 0;
    }

    @media screen and (min-width: $breakpoint-large) {
        img{opacity: 1;}
    }
  }
