@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 추가 */
a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18rem;
  overflow-x: hidden;
  background-color: #9a9489;
}

.whole-wrapper {
  background-color: #ece9e3;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .whole-wrapper {
    width: 80%;
    max-width: 1300rem;
    margin: 0 auto;
  }
}

header {
  font-family: "Nanum Myeongjo", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 32rem 16rem;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 16rem;
}
header nav a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  header {
    padding: 32rem 10%;
    margin: 0 0 64rem 0;
  }
}

.main, section, footer {
  padding: 16rem;
}
@media screen and (min-width: 992px) {
  .main, section, footer {
    padding: 0 10%;
  }
}

section {
  margin: 0 0 128rem 0;
}

.main {
  position: relative;
}
.main .img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.main .img-main img {
  width: 100%;
  height: 100%;
  max-width: 300rem;
  object-fit: contain;
}
.main .txt-main {
  margin: 32rem 0;
}
.main .txt-main p {
  font-family: "Pretendard-Regular", sans-serif;
  margin: 32rem 0;
}
@media screen and (min-width: 992px) {
  .main .txt-main {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
  }
}

.my-works article {
  margin: 0 0 64rem 0;
}
@media screen and (min-width: 992px) {
  .my-works article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .my-works .txt-wrapper {
    max-width: 50%;
  }
}
.my-works .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin: 0 0 32rem 0;
}
@media screen and (min-width: 992px) {
  .my-works .img-wrapper {
    max-width: 30%;
  }
}
.my-works .txt-wide {
  font-size: 12rem;
  letter-spacing: 3rem;
}
.my-works h2 {
  margin: 8rem 0 32rem 0;
}
.my-works .list-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
  margin: 0 0 32rem 0;
}
.my-works .list-skills li {
  padding: 6rem 10rem;
  background-color: #e0d1c0;
}
.my-works p {
  margin: 0 0 32rem 0;
}
.my-works .btn {
  margin: 0 0 64rem 0;
}

.skills h2 {
  margin: 8rem 0 48rem 0;
}
.skills h3 {
  margin: 0 0 16rem 0;
}
.skills .list-desc {
  width: 95%;
  position: relative;
  left: 18rem;
  font-family: "Pretendard-Regular", sans-serif;
  margin: 0 0 32rem 0;
}
.skills .list-desc li::before {
  position: absolute;
  left: -18rem;
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: #c27a5a;
  transform: translateY(10rem) rotate(45deg);
}
.skills article {
  margin: 0 0 48rem 0;
}
.skills .list-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 16rem;
  align-items: center;
  flex-wrap: wrap;
}
.skills .list-programs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 8rem;
  margin: 0 0 16rem 0;
}
.skills .list-programs img {
  width: 36rem;
}
@media screen and (min-width: 992px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  .skills .skill-desc {
    position: relative;
    top: 24rem;
    width: 45%;
  }
}

footer {
  background-color: #474744;
  color: #fff;
  font-weight: lighter;
  padding: 48rem 16rem;
  margin: 32rem 0 0 0;
}
footer h2 {
  margin: 0 0 32rem 0;
}
footer address {
  margin: 0 0 32rem 0;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 48rem 10%;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 0 32rem 0;
  }
  footer address {
    width: 45%;
  }
}

a {
  cursor: pointer;
}

h2 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 32rem;
  word-break: keep-all;
  line-height: 42rem;
}

p, li, address {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16rem;
  line-height: 26rem;
}

h3 {
  font-family: "Pretendard-Regular", serif;
  font-size: 24rem;
}

h1::selection, h2::selection, h3::selection, span::selection, a::selection, p::selection, li::selection {
  background-color: #c27a5a;
}

button, .btn {
  padding: 12rem 12rem;
  border: 1rem solid black;
  background-color: transparent;
  cursor: pointer;
  font-family: "Pretendard-Regular", sans-serif;
}
button:hover, .btn:hover {
  background-color: #e0d1c0;
}

.btn {
  font-size: 16rem;
}
.btn::selection {
  background-color: #c27a5a;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 500rem;
  object-fit: contain;
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 18%;
  width: 90%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #c27a5a;
  opacity: 0.5;
  transform: rotate(2deg);
  bottom: -1rem;
  left: -1rem;
  border-radius: 20% 25% 20% 24%;
  padding: 10rem 3rem 3rem 10rem;
}

/*# sourceMappingURL=main.css.map */
