//typefaces(font-family)

//나눔 명조
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

//프리텐다드
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

$ff-heading2: 'Nanum Myeongjo', serif;
