//나눔 명조
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Myeongjo'),                 
      url(../fonts/NanumMyeongjo.woff2) format('woff2'), 
      url(../fonts/NanumMyeongjo.woff) format('woff');  
  }

//프리텐다드
@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard-Regular'),                  
      url(../fonts/NanumMyeongjo.woff2) format('woff2'), 
      url(../fonts/NanumMyeongjo.woff) format('woff');   
}


$ff-heading1: 'Nanum Myeongjo', 'NotoSerifKR', serif;
$ff-heading2: 'Nanum Myeongjo', 'NotoSerifKR', serif;
$ff-heading3: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
$ff-paragraph: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;