//typefaces(font-family)

//나눔 명조
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

//본명조
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//프리텐다드
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
//본고딕
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

$ff-heading1: 'Nanum Myeongjo', 'NotoSerifKR', serif;
$ff-heading2: 'Nanum Myeongjo', 'NotoSerifKR', serif;
$ff-heading3: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
$ff-paragraph: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;